doctype html
html
  head
    title= title
    //- Jquery
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- bootstrap
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    include nav
    block content